.head-block__subtitle {    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0 auto 64px auto;
    color: white;
}

@media (max-width: 800px) {
    .head-block__subtitle {
        margin-bottom: 24px;
    }
}
@media (max-width: 500px) {
    .head-block__subtitle {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 65px;
        }
}