.main-block {
    box-sizing: border-box;
    width: 100%;
    padding: 82px 7.2% 73px 7.2%;
}

.main-block_white {
    background-color: white;
}

.main-block_gray {
    background-color: #F5F6F7;
}

.main-block_commits {
    padding: 88px 0 80px 0;
    background-color: #F5F6F7;
}

@media (max-width: 1000px) {
    .main-block {
        padding: 34px 5% 55px 5%;
    }
    .main-block_commits {
        padding: 34px 0 55px 0;
        background-color: #F5F6F7;
    }
    .main-block_gray {
        padding: 43px 5% 55px 5%;
    }
}

@media (max-width:600px) {
    .main-block {
        padding: 10px 5% 31px 5%;
    }
    .main-block_gray {
        padding: 27px 5% 31px 5%;
    }
}
