.graph__data {
    display: flex;
    width: 100%;
    margin-bottom: 56px;
    height: 24px;
    align-items: center;

}

.graph__data:last-of-type {
    margin-bottom: 0;
}

@media (max-width:800px) {
    .graph__data {
        margin-bottom: 56px;
    }
    
    .graph__data:last-of-type {
        margin-bottom: 0;
    }
}
@media (max-width:600px) {
    .graph__data {
        margin-bottom: 24px;
    }
    
    .graph__data:last-of-type {
        margin-bottom: 0;
    }
}
