.graph__data-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    color: white;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}