
.link-text {
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    margin: 0 34px 0 0;
    /* border: 1px solid red */
    transition: opacity 0.4s linear 0s;
}
.link-text:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
}
.link-text:hover {
    opacity: .7;
}
.link-text:visited {
    color: var(--main-black-color);
}
@media (max-width: 800px) {
    .footer__links-container .link-text {
        margin-right: 10px;
    }
}
@media (max-width: 750px) {
    .footer__links-container .link-text {
        margin-right: 18px;
        margin-bottom: 20px;
    }
}
@media (max-width: 500px) {
    .link-text {
        font-size: 16px;
        line-height: 24px;
    }
    .footer__links-container .link-text {
        margin-bottom: 24px;
    }
}