.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--main-black-color);
    margin-bottom: 24px;
    letter-spacing: -0.07px;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
    color: #444;
    margin: 0 auto;
}
.info .text {
    width: 67%;
}
.current-adress .text {
    margin: 0;
}
.text:first-of-type {
    margin-top: 0;
}
.text:last-of-type {
    margin-bottom: 0;
}
.text-gray {
    color: var(--main-darkgray-color);
}
.results__card .text {
    width: 90%;
    max-height: 110px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 18px;
    overflow: hidden;
}
.swiper-slide .text {
    max-height: 96px;
    overflow: hidden;
}
@media (max-width: 1000px) {
    .info .text {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .results__card .text {
        margin-top: 11px;
    }
}