.title-mini {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 24px;
    overflow: hidden;
    /* text-color: var(--main-black-color); */
}
.title-mini_center {
    text-align: center;
    }
.swiper-slide__title-container .title-mini {
    margin-top: 8px;
    margin-bottom: 2px;
}
.results__card .title-mini {
    max-height: 60px;
    margin-bottom: 16px;
}
@media (max-width:1100px) {
    .results__card .title-mini {
        max-height: 48px;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px;    
    }
}
@media (max-width:500px) {
    .results__card .title-mini {
        margin-top: 10px;    
    }
}

