@import url(./__cards-container/results__cards-container.css);
@import url(./__card/results__card.css);
@import url(./__card-content/results__card-content.css);
@import url(./__card-cover/results__card-cover.css);

.results {
    display: flex;
    flex-direction: column;
}

/* .results_white {
    padding-top: 0px;
    background-color: #FFF;
} */
