.graph__data-date {
    Width: 8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    color: var(--main-black-color);
}

@media (max-width:800px) {
    .graph__data-date {
        width: 19%;
    }
}
@media (max-width:500px) {
    .graph__data-date {
        width: 27%;
    }
}