@import url(./__head-container/graph__head-container.css);
@import url(./__title/graph__title.css);
@import url(./__head/graph__head.css);
@import url(./__container/graph__container.css);
@import url(./__data/graph__data.css);
@import url(./__data-row/graph__data-row.css);
@import url(./__data-date/graph__data-date.css);
@import url(./__data-text/graph__data-text.css);
@import url(./__axis/graph__axis.css);
@import url(./__axis-number/graph__axis-number.css);

.graph {
    /* width: 85%; */
    padding: 92px 7.5% 80px 7.5%;
    background-color: #F5F6F7;
}
@media (max-width:800px) {
    .graph {
        padding: 40px 5.1% 40px 5.1%;
    }
}
@media (max-width:600px) {
    .graph {
        padding: 24px 5.1% 38px 5.1%;
    }
}

