@import url(./__copyright/footer__copyright.css);
@import url(./__icon-link/footer__icon-link.css);
@import url(./__links-container/footer__links-container.css);
@import url(./__social-networks/footer__social-networks.css);

.footer {
    padding: 30px 7% 28px 7%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 500px) {
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}
