.about-author__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* 
@media (max-width: 1200px) {
    .about-author__img {
        width: 34%;
        margin-top: 25px;
    }
}
@media (max-width: 500px) {
    .about-author__img {
        width: 94%;
        margin: 12px auto 16px auto;    
    }
} */
