.about-author__info-container {
    width: 55%;
}


@media (max-width: 1200px) {
    .about-author__info-container {
        margin-top: 10px;
    }
}
@media (max-width: 500px) {
    .about-author__info-container {
        width: 100%;
    }
}
