.header__logo {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin: 0;
    text-decoration: none;

    border-bottom: 3px solid rgba(0, 0, 0, 0);  

}

.head-block .header .header__logo {
    color: white;
}

@media (max-width: 500px) {
    .header__logo {
        font-size: 16px;
        line-height: 24px;
    }
}