.head-block__search-button {
    cursor: pointer;
    position: absolute;
    border-radius: 1000px;
    right: 0;
    bottom: 0;
    width: 168px;
    height: 60px;
    background: #2F71E5;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
    outline: none;
    transition: background-color 0.4s linear 0s;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;

}

.head-block__search-button:hover {
    background-color: #3d80f7;
}

.head-block__search-button_disabled {
    background-color: #b4b4b4;
}
.head-block__search-button_disabled:hover {
    background-color: #b4b4b4;
}

@media (max-width: 1000px) {
    .head-block__search-button {
        width: 155px;
    }
}
@media (max-width: 700px) {
    .head-block__search-button {
        width: calc(100% - 240px);
    }
}
@media (max-width: 600px) {
    .head-block__search-button {
        width: 100%;
        position: relative;
        padding: 17px 24px 17px 24px;
    }
}