@import url(./__container/tehnologies__container.css);
@import url(./__item/tehnologies__item.css);
@import url(./__title/tehnologies__title.css);
@import url(./__img/tehnologies__img.css);

.tehnologies {
    display: flex;
    justify-content: space-between;
    padding-right: 16%;
}

@media (max-width: 1200px) {
    .tehnologies {
        flex-direction: column;
        padding-right: 7.2%;
    }
}
