
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 41%;
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  background: #1A1B22;
  box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.2);
  border-radius: 64px;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: white;
  font-family: swiper-icons;
  font-weight: bold;
  font-size: calc(var(--swiper-navigation-size) / 4);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 24px;
  right: auto;
  cursor: pointer;

}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 24px;
  left: auto;
  cursor: pointer;

}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
}
@media (max-width: 1200px) {
  .swiper-button-next, .swiper-button-prev {
      display: none;
  }
}
