.tehnologies__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 70px;
    margin-bottom: 19px;
}

.tehnologies__item:last-of-type {
    margin-right: 0px;
}

@media (max-width: 1000px) {
    .tehnologies__item {
        margin-bottom: 8px;
                /* width: 36px; */
    }
}
@media (max-width: 800px) {
    .tehnologies__item {
        margin-right: 30px;
    }
}
@media (max-width: 500px) {
    .tehnologies__item {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 26px;   
    }
}