.graph__head {
    width: 7%;
    margin: 0 1% 8px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: var(--main-darkgray-color);
}

.graph__head:nth-of-type(2) {
    width: 92%;
}

@media (max-width:800px) {
    .graph__head {
        width: 16%;
    }
    
    .graph__head:nth-of-type(2) {
        width: 80%;
    }
}
@media (max-width:500px) {
    .graph__head {
        width: 27%;
    }
    
    .graph__head:nth-of-type(2) {
        width: 72%;
    }
}