@import url(../blocks/main-block/__header/main-block__header.css);
@import url(../blocks/main-block/__search-button/main-block__search-button.css);
@import url(../blocks/main-block/__search-container/main-block__search-container.css);
@import url(../blocks/main-block/__search-input/main-block__search-input.css);
@import url(../blocks/main-block/__subtitle/main-block__subtitile.css);
@import url(../blocks/main-block/__title/main-block__title.css);
@import url(../blocks/main-block/__logo/main-block___logo.css);
@import url(../blocks/main-block/__menu-container/main-block__menu-container.css);
@import url(../blocks/main-block/__menu-item/main-block__menu-item.css);

body {
    margin: 0;
}

.main-block {
    width: 100%;
    height: 100%;
    background-image: url('../images/mainimage.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 0;
}


.main-block__content {
    width: 42%;
    margin: 0 auto 95px auto;
}

.title {
    width: 120%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-top: 0;
}

.title_margin-top {
    margin-top: 40px;
}

.title__link {
    width: 20%;
}

.text {
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

/* .text-left {

} */

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    color: #444;
    margin: 0 auto;
}

.results {
    width: 100%;
    padding: 50px 0 80px 0;
    background-color: #F5F6F7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results_white {
    padding-top: 0px;
    background-color: #FFF;
}

.results__title-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto 32px auto;
}

.link-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    margin: 0 34px 0 0;
}

.link-text:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
}

.link-text_inverted {
    color: white;
}

.cards-container {
    width: 85%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    border-radius: 20px;
    /* padding: 24px; */
    background-color: white;
    width: 32%;
    min-height: 100px;
    overflow: hidden;
}

.card-content {
    margin-left: 24px; 
    margin-right: 24px;
    margin-top: 0px; 
}

.card-cover {
    width: 100%;
    /* margin: -24px -24px 0 -24px; */
}

.card-date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 12px;

    /* identical to box height, or 133% */
    display: flex;
    align-items: center;

    /* simulator/gray/text */
    color: #B6BCBF;
}

.card-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    margin-bottom: 24px;
    /* or 115% */

    /* main/black */
    color: #1A1B22;
}

.card-title_center {
text-align: center;
}

.card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    
    /* main/black */
    color: #1A1B22;
    margin-bottom: 40px;
}

.card-source {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    letter-spacing: 0.4px;
    text-transform: uppercase;
    
    /* simulator/gray/text */
    color: #B6BCBF;
}

.button {
    width: 20%;
    border-radius: 50px;
    padding: 18px 0 22px 0;
    margin: 0 auto;
    background-color: #FFF;
    border-style: none;
}

.about-author {
    background-color: white;
    padding: 80px 104px;
    display: flex;
}

.about-author__image {
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    margin: 0 56px 0 0;
    display: flex;
    overflow: hidden;
    align-content: center;
    border-radius: 1000px;
    position: relative;
    background-image: url(../images/userimage.jpg);
    background-color: #B6BCBF;
    background-size: cover;
    background-position: center;
}

.about-author__info-container {
    max-width: 500px;
}

.footer {
    padding: 30px 7% 28px 7%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */

    /* simulator/gray/text */
    color: #B6BCBF;
}

.footer__links-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.icon-link {
    width: 24px;
    height: 24px;
    margin: 0 28px 0 0;
}

.icon-link:last-of-type {
    margin-right: 0px;
}

.preloader {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    margin: 0;
	background-color: #F5F6F7;	
	overflow: hidden;
}


.circle-preloader {
	display: block;
	width: 50px;
	height: 50px;
	border: 4px solid #444;
	border-bottom-color: #AAA;
	
	border-radius: 50%;
	
	/* position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; */
	margin: 0 auto 24px auto;
	
	animation: spin .75s infinite linear;
}

.about__container {
    width: 60%;
    align-self: flex-start;
}

.info {
    width: 85%;
    background-color: #F5F6F7;
    margin: 0 auto 80px auto;
    padding-top: 0px;
    background-color: #FFF;
}

.info-container {
    width: 75%;
}

.tehnologies {
    width: 85%;
    padding: 50px 7.5% 80px 7.5%;
    background-color: #F5F6F7;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.tehnologies__title {
    width: 30%;
}

.tehnologies__container {
    display: flex;
}

.tehnology {
    width: 100%;
    /* border: 1px solid red; */
    margin-right: 30px;
}

.tehnology:last-of-type {
    margin-right: 0;
}

.tehnology__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    margin-bottom: 23px;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin: 50px auto;
}
.swiper-slide {
    background: #f1f1f1;
    color:#000;
    text-align: center;
    line-height: 300px;
}

.graph {
    width: 85%;
    padding: 80px 7.5% 80px 7.5%;
    background-color: #F5F6F7;
}

.graph__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    margin-bottom: 48px;
}

.graph-container {
    display: flex;
    flex-direction: column;
  }

.graph-head__container {
    display: flex;
    border-bottom: 1px solid #1A1B22;

}

.graph-head {
    width: 7%;
    margin: 0 1% 8px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

.graph-head:nth-of-type(2) {
    width: 92%;
}

.graph-axis {
    display: flex;
    padding-left: 8%;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.graph-axis__number {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    letter-spacing: 0.4px;
    text-transform: uppercase;

    /* simulator/gray/text */
    color: #B6BCBF;
}

.graph-data {
    display: flex;
    width: 100%;
    margin-bottom: 56px;
    height: 24px;
    align-items: center;

}

.graph-data:last-of-type {
    margin-bottom: 0;
}

.graph-data__date {
    Width: 8%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    /* or 444% */
    
    /* main/black */
    color: #1A1B22;
}

.graph-data__row {
    width: 92%;
    height: 24px;

    background-color: #2F71E5;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    display: flex;
    color: white;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding-left: 8px;
    }

.grid__number {
    /* height: 32px; */
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    }

    .grid__number:first-of-type {
        justify-content: flex-start;
    }

    .grid__number:last-of-type {
        justify-content: right;
    }

/* .grid__text {

}     */

.date {
    display: flex;
    align-items: center;
} 

.date:hover {
    border: 1px solid red;
}

.slider {
display: block;
}

.main-carousel {
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    margin: 0 auto;
}

.carousel-cell {
    background-color: #FFF;
    padding-top: 12px;
    padding-bottom: 24px;
    overflow: hidden;
    border-radius: 16px;
    width: 28%;
    height: 288px;
    margin-right: 10px;
  }
  .carousel-cell.size-180 { width: 180px; }
  .carousel-cell.size-large { width: 75%; }

.carousel-cell:first-of-type {
    margin-left: 7.5%;    
}
.carousel-cell:last-of-type {
    margin-right: 7.5%;    
}


@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}