.title-link-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto 40px auto;
    color: var(--main-black-color); 
}
.main-block_commits .title-link-container {
    box-sizing: border-box;
    padding: 0 7.5% 0 7.5%;
}
@media (max-width: 1000px) {
    .title-link-container {
        margin-bottom: 36px;
    }
    .main-block_commits .title-link-container {
        padding: 0 5.1% 0 5.1%;
    }
}
@media (max-width: 600px) {
    .title-link-container {
        flex-direction: column;
    }
    .main-block_commits .title-link-container {
        padding: 0 5.1% 0 5.1%;
    }
}