.footer__icon-link {
    width: 24px;
    height: 24px;
    margin: 0 28px 0 0;
    transition: opacity 0.4s linear 0s;
}

.footer__icon-link:last-of-type {
    margin-right: 0px;
}

.footer__icon-link:hover {
    opacity: .7;
}